fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pgvector
python-dotenv
pydantic-settings
alembic
python-multipart
pypdf2
# skiping this for now, as openai and langchain are paid services
# openai
# langchain
# langchain-openai
# tiktoken
sentence-transformers
transformers
torch
sentencepiece
python-jose[cryptography]
passlib[bcrypt]
